body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

div#container {
    background-color: #3399cc;
    color: white;
    width: 1470px;
    height: 960px;
    border: 24px solid #2b81ac;
}

header {
    width: 970px;
    display: block;
    margin-left: 250px;
}

ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 970px;
    height: 610px;
    font-size: 0px;
    margin-left: 250px;
    border: 3px solid white;
}

ul:hover li:not(:hover) { 
    opacity: 0.3; 
}

li {
    list-style: none;
    display: inline-block;
    font-size: 25px;
    border: 3px solid white;
    box-sizing: border-box;
}

span {
    opacity: 0.7;
}

.fifty {
    width: 50%;
    height: 25%;
}

.twenty-five {
    width: 25%;
    height: 25%;
}

.hundred {
    width: 100%;
    height: 25%;
}

#lisbon {
    background-color: #3399cc;
}

#lisbon:hover {
    background-color: #3399cc;
}

#paris {
    background-color: #33cccc;
}

#belgrade {
    background-color: #996699;
}

#moscow {
    background-color: #c24747;
}

#tel-aviv {
    background-color: #e2674a;
}

#cair {
    background-color: #ffcc66;
}

#new-york {
    background-color: #99cc99;
}

#new-delhi {
    background-color: #669999;
}

#san-francisco {
    background-color: #cc6699;
}

#tokio {
    background-color: #339966;
}

#sydney {
    background-color: #666699;
}

footer {
    font-size: 22px;
    margin-left: 250px;
}